.firstPage{
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    background-image: url('https://img.freepik.com/free-vector/abstract-blue-geometric-shapes-background_1035-17545.jpg?w=2000');
    background-size: cover;
    
}
.alias{
    width: 150px;
    height: 150px;
    background-image: url('https://i.ibb.co/H2MZfsb/ss.png');
    background-size: contain;
    background-position-x:7px ;
}
.playButtnn{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    color:black !important;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3B85FEFF;
    cursor: pointer;
}
.playButtnn:hover{
    transition: 0.5s;
    box-shadow: 0 0 5px #fff,
                0 0 25px #fff,
                0 0 50px #fff,
                0 0 100px #fff;
    color: white;
}
